;* {
    -fx-font-family: Ebrima;
}

.dark-gray-background {
	-fx-background-color: #46474A;
}

.light-gray-background {
	-fx-background-color: #DADADA;
}

.gray-background {
	-fx-background-color: #636566;
}

.transparent-background {
	-fx-background-color: rgba(0,0,0,0);
}

.radius {
	-fx-background-radius: 100px;
}


.normal-button {
	-fx-background-color: #85d6ca;
	-fx-background-radius: 20px;
}

.transparent-button {
	-fx-background-color: rgba(0,0,0,0);
	-fx-background-radius: 20px;
}

.border {
	-fx-border-color: #DADADA;
	-fx-border-radius: 15px;
	-fx-border-width: 0.3px;
}

/* The scrollbar **track** */
.scroll-bar:vertical .track{
	-fx-background-color: #DADADA;
	-fx-border-color: #DADADA;
}

/* The scrollbar **The increment and decrement button** */
.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color:transparent;
	-fx-padding:0 10 0 0;
}
.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
	-fx-padding:0;
}

/* The scrollbar **thumb** */
.scroll-bar:vertical .thumb {
    -fx-background-color:derive(black,90%);
	-fx-background-insets: 4, 0, 0;
	-fx-background-radius: 1em;
}

.table-view {
    -fx-base: white;
    -fx-control-inner-background: white;
    -fx-background-color: white;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background .column-header{
    -fx-background-color: white;
}

.button:pressed {
    -fx-background-color: #219fa4;
}
