/**************** ALL ****************/
;* {
    -fx-font-family: "Ebrima";
}

/**************** Style of BACKGROUNDS ****************/
.dark-gray-background {
	-fx-background-color: #46474A;
}
.light-gray-background {
	-fx-background-color: #DADADA;
}
.gray-background {
	-fx-background-color: #636566;
}
.transparent-background {
	-fx-background-color: rgba(0,0,0,0);
}

/**************** Style of BUTTONS ****************/
.normal-button {
	-fx-background-color: #85d6ca;
	-fx-background-radius: 20px;
}
.transparent-button {
	-fx-background-color: rgba(0,0,0,0);
	-fx-background-radius: 20px;
}
.button:pressed {
    -fx-background-color: #219fa4;
}

/**************** Style of SCROLLBARS ****************/
.scroll-bar:vertical .track{
	-fx-background-color: #DADADA;
	-fx-border-color: #DADADA;
}
.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color:transparent;
	-fx-padding:0 10 0 0;
}
.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
	-fx-padding:0;
}
.scroll-bar:vertical .thumb {
    -fx-background-color:derive(black,90%);
	-fx-background-insets: 4, 0, 0;
	-fx-background-radius: 1em;
}

/**************** Style of TABLEVIEW ****************/
.table-view {
    -fx-background-color: white;
    -fx-table-cell-border-color: transparent;
}
.column-header{
    -fx-background-color: white;
}
.table-row-cell:selected {
    -fx-background-color: #E1EBE9;
    -fx-table-cell-border-color: transparent;
}
.table-view .table-cell{
    -fx-padding: 2 0 2 10px;
    -fx-font-size: 14pt;
    -fx-text-fill: #46474A;
}
.table-view .table-column{
    -fx-alignment: center-left;
}

/**************** OTHERS ****************/
.radius {
	-fx-background-radius: 100px;
}
.border {
	-fx-border-color: #DADADA;
	-fx-border-radius: 15px;
	-fx-border-width: 0.3px;
}

