* {
	-fx-dark-gray-color: #46474A;
	-fx-green-color: #85d6ca;
	-fx-light-gray-color: #DADADA;
	-fx-gray-color: #636566;
}

.dark-gray-background {
	-fx-background-color: -fx-dark-gray-color;
}

.light-gray-background {
	-fx-background-color: -fx-light-gray-color;
}

.gray-background {
	-fx-background-color: -fx-gray-color;
}

.transparent-background {
	-fx-background-color: rgba(0,0,0,0);
}

.radius {
	-fx-background-radius: 100px;
}


.normal-button {
	-fx-background-color: -fx-green-color;
	-fx-background-radius: 20px;
}

.transparent-button {
	-fx-background-color: rgba(0,0,0,0);
	-fx-background-radius: 20px;
}

.border {
	-fx-border-color: -fx-light-gray-color;
	-fx-border-radius: 15px;
	-fx-border-width: 0.3px;
}

/* The scrollbar **track** */
.scroll-bar:vertical .track{
	-fx-background-color: -fx-light-gray-color;
	-fx-border-color: -fx-light-gray-color;
}

/* The scrollbar **The increment and decrement button** */
.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color:transparent;
	-fx-padding:0 10 0 0;
}
.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
	-fx-padding:0;
}

/* The scrollbar **thumb** */
.scroll-bar:vertical .thumb {
    -fx-background-color:derive(black,90%);
	-fx-background-insets: 4, 0, 0;
	-fx-background-radius: 1em;
}

.check-box .box {
	-fx-background-color: white;
	-fx-border-color: -fx-dark-gray-color;
	-fx-border-radius: 0;
}
.check-box .mark {
 	-fx-shape: "M1.73,12.91 8.1,19.28 22.79,4.59 22.79,1.59 8.1,16.28 1.73,9.91";
}
.check-box:selected .mark {
	-fx-background-color: white;
}
.check-box:selected .box {
	-fx-background-color: -fx-dark-gray-color;
}
